.App {
  text-align: center;
  display:flex;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #023318;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(136, 22, 22);
}

.App-link {
  color: #252325;
}
