.diet-container{
    margin: 10px;
    align-self: center;
    transition: all 1s ease;
    box-shadow: 3px 5px rgba(0, 0, 0, 0.472);
    border:none;
    background-color: rgba(128, 128, 128, 0.527);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid rgba(12, 10, 10, 0.349);
    border-radius: 25px;
    width:18%;
    height: 20%;
}

.label{
    margin-top: 20px;
  justify-content: space-around;
  display:flex;
  flex-direction:column;
  align-self: center;
}

.list .item {
    font-weight: bolder;
    font-size: 20px;
    list-style-type: circle;
    list-style-position: outside
}
